<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookingTicket.BussinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BookingTicket.BussinessLogic.Properties.Settings>
            <setting name="BookingTicket_BussinessLogic_printservice_PrintSevice"
                serializeAs="String">
                <value>http://printservice.com/PrintSevice.asmx</value>
            </setting>
        </BookingTicket.BussinessLogic.Properties.Settings>
    </applicationSettings>
</configuration>