@Html.Partial("_Header")

<div id="page-wrapper">
    <div ng-controller="AccountController"  class="col-xs-12 left-section">
        <div class="col-xs-12 item-seat">
            <div class="col-xs-6 item-seat">
                <div class="col-xs-3">
                    <label class="item-label">Mật khẩu củ:</label>
                </div>
                <div class="col-xs-9">
                    <input class="k-textbox" type="password" ng-model="OldPassword" />
                </div>
            </div>
           
        </div>
        <div class="col-xs-12 item-seat">
            <div class="col-xs-6 item-seat">
                <div class="col-xs-3">
                    <label class="item-label">Mật khẩu mới:</label>
                </div>
                <div class="col-xs-9">
                    <input class="k-textbox" type="password" ng-model="NewPassword" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 item-seat">
            <div class="col-xs-6 item-seat">
                <div class="col-xs-3">
                    <label class="item-label">Nhập lại mật khẩu:</label>
                </div>
                <div class="col-xs-9">
                    <input class="k-textbox" type="password" ng-model="NewPasswordConfirm" />
                </div>
            </div>

        </div>
        <div class="col-xs-12 item-seat">
            <div class="col-xs-6 item-seat">
                <kendo-button ng-show="!isLoading" class="k-success k-button k-button-icontext" ng-click="Changepassword()">Cập nhật</kendo-button>
            </div>
          
        </div>
    </div>
</div>

<style>
    .trcolor {
        background: #c77023;
    }

    .nav.navbar-nav.side-nav {
        display: none;
    }

    #wrapper {
        padding-left: 0;
    }

    tr th {
        background: #0973c7;
        color: #fff;
        border: #0973c7;
        border-top: none !important;
        text-align: center;
    }

    tr td {
        text-align: center;
    }
</style>