@Html.Partial("_Header")

<div id="page-wrapper">
    Vui lòng khai báo đầy đủ thông tin: <a ng-click="ManagementTimeRedirect()">Giờ chạy</a>, <a ng-click="ManagementStationRedirect()">Trạm</a>, <a ng-click="ManagementRouteRedirect()">Tuyến đường</a> để có thể đặt vé.
</div>
