@using BookingTicket.Models
@{
    var objUser = SysUserModels.Current.CurrentUser();
}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!/">@objUser.CompanyName</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown" style="cursor:pointer">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="ManagementHomeRedirect()"> Đặt vé </a>
        </li>

        <li class="dropdown" style="cursor:pointer" ng-if="currentUser.IsAllowRouter">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="ManagementCarRedirect()">Điều hành xe</a>
        </li>
        <li class="dropdown" style="cursor:pointer" ng-if="currentUser.IsAllowManager">
            <a class="dropdown-toggle" data-toggle="dropdown"> Quản lý<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-click="ManagementAccountRedirect()"> Quản lý nhân viên</a>
                </li>
                <li>
                    <a ng-click="ManagementPickupRedirect()"> Quản lý điểm đón</a>
                </li>
                <li>
                    <a ng-click="ComputerRegistry()"> Đăng ký truy cập</a>
                </li>
                <li>
                    <a ng-click="ManagementStationRedirect()"> Quản lý trạm</a>
                </li>
                <li>
                    <a ng-click="ManagementTimeRedirect()"> Quản lý giờ chạy</a>
                </li>
                <li>
                    <a ng-click="ManagementRouteRedirect()"> Quản lý tuyến</a>
                </li>
                <li>
                    <a ng-click="ManagementVehicleTypeRedirect()"> Quản lý Loại xe</a>
                </li>
            </ul>
        </li>
        <li class="dropdown" style="cursor:pointer" ng-if="currentUser.UserName=='admin'">
            <a class="dropdown-toggle" data-toggle="dropdown" ng-click="ManagementCompanyRedirect()">Quản lý công ty</a>
        </li>
        <li class="dropdown" style="cursor:pointer">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{currentUser.FullName}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#!/changepassword"><i class="fa fa-fw fa-power-off"></i> Đổi mật khẩu</a>
                </li>
                <li>
                    <a href="/Account/Logout"><i class="fa fa-fw fa-power-off"></i> Đăng xuất</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div kendo-window="controls.wndUpdate" k-title="'Thông tin'" k-modal="true" k-width="750" k-heigh="500" k-visible="false" k-on-close="onClose()">
    <div class="col-xs-12">
        <div class="col-xs-1">
            <span class="seat-number">{{model.Description}}</span>
        </div>
        <div class="col-xs-11">
            <div class="col-xs-12">
                <div ng-repeat="item in stations" style="display:inline-block">
                    <input type="checkbox" id="{{item.StationID}}" class="k-checkbox" disabled ng-checked="item.StationID == model.StationFromID || item.StationID == model.StationToID">
                    <label class="k-checkbox-label" for="{{item.StationID}}">{{item.StationShortName}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Ngày đi:</label>
                        </div>
                        <div class="col-xs-7">
                            <input kendo-date-picker ng-model="model.GoDate" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Di động:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.Mobile" placeholder="Nhập số điện thoại" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Đón khách:</label>
                        </div>
                        <div class="col-xs-7">
                            <input kendo-combo-box="controls.cbPickUp" k-filter="'contains'" k-min-length="2"
                                   k-data-text-field="'AddressName'" k-data-value-field="'Address'"
                                   k-placeholder="'Điểm đón'" k-data-source="pickups" k-on-change="onChangePickUp()" ng-model="pickup" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Giá:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.Price" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Thanh toán:</label>
                        </div>
                        <div class="col-xs-7">

                            <input kendo-drop-down-list="controls.ddlPayment" k-data-source="payments"
                                   k-data-text-field="'PaymentName'"
                                   k-data-value-field="'PaymentID'" ng-model="model.PaymentStatusID" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Ghi chú:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.Note" disabled />
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Giờ:</label>
                        </div>
                        <div class="col-xs-7">
                            <input kendo-time-picker ng-model="model.GoTime" k-format="'HH:mm'" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Tên:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" placeholder="Nhập họ tên" ng-model="model.PassengerName" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">T/Chuyển:</label>
                        </div>
                        <div class="col-xs-7">
                            <input kendo-combo-box="controls.cbTransit" k-filter="'contains'" k-min-length="2"
                                   k-data-text-field="'AddressName'" k-data-value-field="'Address'"
                                   k-placeholder="'Trung chuyển'" k-data-source="transits" k-on-change="onChangeTransit()" ng-model="transit" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Tổng tiền:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.Price" disabled />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <label class="item-label">Mã vé:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.CarDateGoDetailID" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


