@Html.Partial("_Header")
@using BookingTicket.Models
@{
    var objUser = SysUserModels.Current.CurrentUser();
}
<div id="page-wrapper" ng-controller="managementStationController" ng-init="Init()">
    @if (objUser.IsAllowManager)
    {
        <div class="col-xs-12 left-section">
            <div class="alert alert-warning">
                <div class="col-xs-12 item-seat text-right">
                    <kendo-button class="k-primary k-button k-button-icontext" ng-click="openWndAccount()">Thêm</kendo-button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="table-header">
                            <th>StationID</th>
                            <th>Tên văn phòng/trạm</th>
                            <th>Tên viết tắt</th>
                            <th>Vị trí</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="station in lstStation">
                            <td>{{station.StationID}}</td>
                            <td>{{station.StationName}}</td>
                            <td>{{station.StationShortName}}</td>
                            <td>{{station.OrderIndex}}</td>
                            <td>
                                <kendo-button class="k-success k-button k-button-icontext" ng-click="openWndAccount(station)">Sửa</kendo-button>
                                <kendo-button class="k-danger k-button k-button-icontext" ng-click="DeleteStation(station)">Xóa</kendo-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div kendo-window="controls.wndAccount" k-title="'Cập nhật'" k-modal="true" k-width="750" k-heigh="500" k-visible="false">
                <div class="col-xs-12">
                    <div class="col-xs-12 item-seat">
                        <div class="col-xs-5">
                            <label class="item-label">Tên văn phòng/trạm:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.StationName" placeholder="Tên trạm" />
                        </div>
                    </div>
                    <div class="col-xs-12 item-seat">
                        <div class="col-xs-5">
                            <label class="item-label">Tên viết tắt:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.StationShortName" placeholder="Tên viết tắt" />
                        </div>
                    </div>
                    <div class="col-xs-12 item-seat">
                        <div class="col-xs-5">
                            <label class="item-label">Vị trí:</label>
                        </div>
                        <div class="col-xs-7">
                            <input class="k-textbox" type="text" ng-model="model.OrderIndex" placeholder="Vị trí" />
                        </div>
                    </div>
                    <hr />
                    <div class="col-xs-12 text-right">
                        <kendo-button class="k-primary k-button k-button-icontext" ng-click="Submit()">Cập nhật</kendo-button>
                        <kendo-button class="k-button k-button-icontext" ng-click="controls.wndAccount.close()">Đóng</kendo-button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 left-section">
            <strong>Bạn không có quyền truy cập</strong>
        </div>
    }
</div>

<style>
    .nav.navbar-nav.side-nav {
        display: none;
    }

    #wrapper {
        padding-left: 0;
    }
</style>
